# Core functionality - changes here should be rare!
/src/app.py                   @garrettfischer
/src/backend/database.py      @garrettfischer
/src/backend/routers/auth.py  @garrettfischer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @garrettfischer
